<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Nuagegne from Barbapapa</title>
<link rel="stylesheet" type="text/css" href="css/Main.css" />
<link href="css/Scaling.css" rel="stylesheet" type="text/css">
<link href="css/reset.css" rel="stylesheet" type="text/css">
<link href="css/thumbnail.css" rel="stylesheet" type="text/css">
<link href="css/stylec.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" media="print" href="print.css">
<link rel="shortcut icon" href="img/image.ico">
</head>

<body>

<header>
    <img src="img/title.png">
</header>

<tbody>
   <tr>
      <a href="https://twitter.com/ajotto" target="_blank"><img alt="" src="img/twitter.gif" style="width: 44px; height: 44px;"></a><a href="https://www.youtube.com/channel/UC8xkzBruPP96NI22ki4mB_w" target="_blank"><img alt="" src="img/youtube.gif" style="width: 44px; height: 44px;"></a><a href="about.html"><img alt="" src="img/twitter.gif" style="width: 44px; height: 44px;"><a href="subscription.html"><img alt="" src="https://www.paypalobjects.com/ja_JP/JP/i/btn/btn_subscribeCC_LG.gif" style="width: 44px; height: 44px;">
</tbody>


<div class="inline-block_test">
  <div class="imgWrap">
     <a href="https://youtu.be/-hwBfmYZRO8" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/-hwBfmYZRO8/mqdefault.jpg" style="vertical-align:middle;" alt="BOSS"></a>
         <div class="imgEff">
    </div>
  </div>
</div><div class="inline-block_test">
  <div class="imgWrap">
     <a href="https://youtu.be/ZvsNuyXhvZ4" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/ZvsNuyXhvZ4/mqdefault.jpg" style="vertical-align:middle;" alt="BOSS"></a>
         <div class="imgEff">
    </div>
  </div>
</div><div class="inline-block_test">
  <div class="imgWrap">
     <a href="https://youtu.be/h7FQr9wGXPU" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/h7FQr9wGXPU/mqdefault.jpg" style="vertical-align:middle;" alt="BOSS"></a>
         <div class="imgEff">
    </div>
  </div>
</div><div class="inline-block_test">
  <div class="imgWrap">
      <a href="https://youtu.be/-il5AZGBRJo" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/-il5AZGBRJo/mqdefault.jpg" style="vertical-align:middle;" alt="めっちゃエキサイティングな公園"></a>
          <div class="imgEff">
    </div>
  </div>
</div><div class="inline-block_test">
  <div class="imgWrap">
     <a href="https://youtu.be/JQC_gYF6XJo" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/JQC_gYF6XJo/mqdefault.jpg" style="vertical-align:middle;" alt="思い出してEDMにしました"></a>
         <div class="imgEff">
    </div>
  </div>
</div><div class="inline-block_test">
  <div class="imgWrap">
      <a href="https://youtu.be/c900tHLi7Y0" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/c900tHLi7Y0/mqdefault.jpg" style="vertical-align:middle;" alt="アリとキリギリスとこんな世の中"></a>
          <div class="imgEff">
    </div>
  </div>
</div><div class="inline-block_test">
  <div class="imgWrap">
  <a href="https://youtu.be/axbHPUIqPZ8" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/axbHPUIqPZ8/mqdefault.jpg" style="vertical-align:middle;" alt="ロボットパルタの曲をEDMにしました"></a>
      <div class="imgEff">
    </div>
  </div>
</div><div class="inline-block_test">
  <div class="imgWrap">
  <a href="https://youtu.be/T87-VPUxLlk" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/T87-VPUxLlk/mqdefault.jpg" style="vertical-align:middle;" alt="ひらがなをEDMにしました"></a>
      <div class="imgEff">
    </div>
  </div>
</div><div class="inline-block_test">
  <div class="imgWrap">
  <a href="https://youtu.be/GOR6L48Mc4w" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/GOR6L48Mc4w/mqdefault.jpg" style="vertical-align:middle;" alt="脳トレゆゆうた"></a>
      <div class="imgEff">
    </div>
  </div>
</div>

<!--
<div class="inline-block_test">
  <div class="imgWrap">
    <div class="imgEff">
  <a href="https://youtu.be/bDH8wkWImZ8" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/bDH8wkWImZ8/mqdefault.jpg" style="vertical-align:middle;" alt="歌のおねいさんごっこhardstyle"></a>
    </div>
  </div>
</div>

<div class="inline-block_test">
  <div class="imgWrap">
    <div class="imgEff">
  <a href="https://youtu.be/FVVZr0pxI8Q" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/FVVZr0pxI8Q/mqdefault.jpg" style="vertical-align:middle;" alt="うわ怖、EDMを添えてみました"></a>
    </div>
  </div>
</div>


  <a href="https://youtu.be/6cpYOv6m6JQ" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/6cpYOv6m6JQ/mqdefault.jpg" style="vertical-align:middle;" alt="エンディングで使ってる曲"></a>

  <a href="https://youtu.be/7TDMBVM8gp0" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/7TDMBVM8gp0/mqdefault.jpg" style="vertical-align:middle;" alt="登録者数1000人突破記念質問コーナー回答"></a>

  <a href="https://youtu.be/2wmxCe7ljls" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/2wmxCe7ljls/mqdefault.jpg" style="vertical-align:middle;" alt="外国語みたいに聞こえるインタビューをEDMにしました"></a>

  <a href="https://youtu.be/cQoOUHaXj6g" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/cQoOUHaXj6g/mqdefault.jpg" style="vertical-align:middle;" alt="ゆるキャラの王"></a>

  <a href="https://youtu.be/YbP--CrAMJQ" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/YbP--CrAMJQ/mqdefault.jpg" style="vertical-align:middle;" alt="drizzle"></a>

  <a href="https://youtu.be/6gtRNI6wuLI" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/6gtRNI6wuLI/mqdefault.jpg" style="vertical-align:middle;" alt="大阪の街の中で破壊の限りをつくす東京工業大学"></a>

  <a href="https://youtu.be/FArTRxTS3Q8" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/FArTRxTS3Q8/mqdefault.jpg" style="vertical-align:middle;" alt="パリピ正月"></a>

  <a href="https://youtu.be/jT93us2qIV8" target="_blank" rel="noopener noreferrer"><img src="https://img.youtube.com/vi/jT93us2qIV8/mqdefault.jpg" style="vertical-align:middle;" alt="おっさんみたいな鳴き声をEDMにしました"></a>

  <a href="https://youtu.be/JQVKkjA0law"><img src="https://img.youtube.com/vi/JQVKkjA0law/mqdefault.jpg" style="vertical-align:middle;" alt="田舎でよく聞く鳥の鳴き声をEDMにしましたキジバト"></a>
-->


<nav>
  <ul>
    <li><a href="https://www.youtube.com/channel/UC8xkzBruPP96NI22ki4mB_w">youtubeチャンネル</a></li>
    <li><a href="https://www.spotify.com/jp/">spotifyの場所</a></li>
  </ul>
</nav>

<section>
<article>
  <span class="date">2511/11/6</span><br>
  <a href="profile.html" class="btn">&gt;管理人</a><br>
  <a href="#" class="btn">&gt;チームメンバーの情報</a><br>
  <a href="#" class="btn">&gt;もっと見る</a>
</article>
</section>
<footer>
<address>Nuagene<br>Copyright(C) 2020,Allright Reserved.</address>
</footer>
</body>
</html>
